*{
	margin: 0;
	padding:0;
	background-color: grey;
	font-family: 'Titillium Web', sans-serif;
}


h2{
	text-align: center;
}

div#team_Won_Toss_Match{
	/* height: 500px; */
	width: 80%;
	background-color: red;
	margin: 20px auto;
}

div#player_Of_The_Match{
	/* height: 500px; */
	width: 80%;
	background-color: red;
	margin: 20px auto;
}

div#most_Dismissed{
	/* height: 500px; */
	width: 80%;
	background-color: red;
	margin: 20px auto;
}

div#strike_Rate{
	/* height: 500px; */
	width: 80%;
	background-color: red;
	margin: 20px auto;
}

div#best_Economy{
	width: 80%;
	background-color: red;
	margin: 20px auto;
}